/* root*/
:root{
    /* Color styles */
--dark-gray: #2C3E50;
--aqua: #1ABC9C;
--white: #FFFFFF;
--light-gray: #3A546D;
--black: #333333;

}

/* colore sfondo bianco del body*/
body {
    color: var(--white);
}
 
/* colore sfondo dark-gray*/
header .navbar, #bot-footer {
    background-color: var(--dark-gray);
}

/* colore sfondo aqua*/
#hero, #about {
    background-color: var(--aqua);
}

/* colore sfondo bianco sezione portfolio e contact*/
#portfolio, #contact {
    background-color: var(--white);
    color: var(--black);
}

/* colore sfondo light-gray top-footer*/
#top-footer {
    background-color: var(--light-gray);
}

/* dimensionamento class immagine*/
.immagine{
    width: 200px;
    height: 200px;
}

/* dimensionamento linee accanto alle stelle*/
.linea {
    width: 100px;
    height: 3px;
    display: inline-block;
}

/*after immagini sezione portfolio piu inserimento contenuto con opacity 0*/
.img-container:after {
       content: '+';
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 10rem;
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       background-color: rgba(26, 188, 156, 0.7);
       color: white;
       opacity: 0;
}
 /* hover immagini sezione portfolio*/
.img-container:hover::after {
    opacity: 1;
}

/* colore testo bianco dei link nella sezione #mynav*/
 #mynav a {
    color:white;
 }

 /* colore logo bianco navbar*/
 button span i {
    color: white;
 }
 
 /* hover dei link nella navbar*/
#mynav a:hover {
    color:green;

    
}

/* creazione bordo rotondo loghi top-footer*/
.radius {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 11px;
      
}

/* colore testo aqua della class acqua*/
.acqua {
    color: var(--aqua);
}